@import "mixins.scss";

@media (min-width: 768px) {
  nav {
    .link {
      &:hover {
        color: #f3f3f3;
        &:before {
          background-color: #fff;
          width: 100%;
          transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        &:after {
          background-color: transparent;
          width: 100%;
          transition: 0s;
        }
      }
    }
  }
}

@media all and (min-width: 1367px) {
  .bottom-main {
    background-size: cover;
    min-height: 720px;
    .form-container {
      max-width: 760px;
      .title-form {
        font-size: 40px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .bottom-main {
    .form-container {
      max-width: 430px;
      margin-left: 350px;
    }
    .form {
      @include flex(flex, wrap, flex-start, space-between, row);
    }
    .title-form {
      text-align: left;
    }
    .input-field {
      width: 48%;
      margin-bottom: 40px;
    }
    .big-btn {
      width: 48%;
      margin: 0;
      button {
        width: 170px;
      }
    }
  }

  .feedback-modal {
    .input-field {
      margin-bottom: 20px;
    }
    label {
      font-size: 12px;
    }
    .form-control {
      padding-bottom: 5px;
    }
    .big-btn {
      margin: 20px auto 0;
    }
    form {
      padding: 20px;
    }
  }
}

@media all and (max-width: 1080px) {
  header {
    .header-logo-icon {
      width: 25px;
    }
  }
  .title-page {
    text-align: center;
  }
  .projects {
    figcaption {
      flex-direction: column;
    }
    .title-project {
      border-bottom: 1px solid #f1f1f1;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
  .portfolio {
    .title-page {
      padding: 40px 0;
    }
  }

  .contact-block {
    @include flex(flex,wrap,center,space-between,column);

    .left-block,.right-block {
      @include transition(width);
      width: 100%;
    }

    .left-block {
      padding-left: 10px;
    }

    .right-block {
      @include flex(flex,wrap,center,center,row);
      padding: 25px 0;
    }
    .findUsHere {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

@media all and (max-width: 768px) {

  header {
    .header-logo-icon {
      display: none;
    }
  }

  footer {
    display: none;
  }

  .header-container-width {

    .header-logo {
      order: 2;
    }

    .email-header {
      order: 3;
    }

    .toggle-menu {
      display: block;
    }

  }

  nav {
    order: 1;
    max-width: 32px;

    .background-menu {
      @include transition();
      transform: translateX(-100%);
      position: absolute;
      right: 0;
      left: 0;
      top: 50px;
      height: 100vh;
      overflow-y: auto;

      &.active {
        transform: translateX(0);
        .item-menu {
          transform: translate(0, 0);
        }
        .find-us, .change-lan-mobile {
          transform: translate(0, 0);
        }
      }
    }

    .scroll-menu {
      @include flex(flex, wrap, center, center, column);
      height: 100vh;
      min-height: 480px;
      padding-bottom: 50px;
      max-width: 230px;
      background-color: #303030;
    }

    .menu-logo-icon {
      display: block;
      max-width: 80px;
      fill: rgba(255, 255, 255, 0.8);
    }

    .menu {
      margin: 35px 0;
      flex-direction: column;
    }

    .max-height {
      @include flex(flex, nowrap, center, flex-start, column);
      max-height: 100%;
      height: 100vh;
      padding-top: 30px;
    }

    .item-menu {
      margin-bottom: 15px;
      flex-basis: auto;
      transform: translate(-100px, 0);

      &:nth-child(1) {
        @include transition(all, .1s);
      }
      &:nth-child(2) {
        @include transition(all, .3s);
      }
      &:nth-child(3) {
        @include transition(all, .5s);
      }
      &:nth-child(4) {
        @include transition(all, .7s);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .link {
      font-size: 20px;
    }

    .logo-sd {
      max-width: 120px;
    }
  }

  .find-us {
    margin-top: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    transform: translate(-300px, 0);
  }

  .contentMobileAnimate {
    @include transition(transform);
    transform: translate(0, 0);
    &.active {
      transform: translate(230px, 0);
    }
  }

  .portfolio {
    .flex-container {
      @include flex(flex, wrap, center, center, column);
    }
  }

  .projects {
    width: 100%;

    .item-img {
      max-height: 100%;
    }
  }

  .user-container {
      @include flex(flex,wrap,center,center,column);
      .user-box {
        .user-head {
          background-size: cover;
        }
        width: 100%;
        margin-bottom: 130px;
      }
    }

  .blog-container {
    @include flex(flex,wrap,center,center,column);
    .item {
      width: 100%;
    }
  }

  .bottom-main {
    background-position: -145px -25px;
    .form-container {
      margin-left: 280px;
      margin-bottom: 45px;
    }
    .input-field, .big-btn {
      width: 100%;
    }
  }

}

@media all and (max-width: 680px) {

  .logo-sd {
    max-width: 135px;
  }

  nav {

    .max-height {
      justify-content: center;
      max-height: 390px;
      height: 100vh;
      padding-top: 0;
    }

    .link {
      font-size: 18px;
    }

    .logo-sd {
      max-width: 50px;
    }

  }

  .find-us {
    margin-top: 0;
  }

  .bottom-main {
    background: none;
    .title-form {
      font-size: 24px;
    }
    .form-container {
      padding-top: 60px;
      margin: auto;
      max-width: 550px;
    }
  }

  .contact-block {

    .title-block {
      font-size: 12px;
    }
    .link-block {
      font-size: 18px;
      display: block;
    }

    .letter,
    .phone-icon{
      width: 60px;
    }

    .seperator {
      display: none;
    }

  }
}

@media all and (max-width: 480px) {
  .title-page {
    font-size: 16px;
  }
  .index-header {
    .title-logo {
      padding-top: 5px;
      font-size: 14px;
    }
    .animate-text {
      font-size: 12px;
      padding: 0;
    }
    .continue-text {
      font-size: 12px;
    }
    .button-lan-container {
      font-size: 14px;
    }
  }
  .user-box {
    .user-head {
      height: 55px;
    }
    .user-img {
      max-width: 100px;
    }
    .user-title {
      h2{
        font-size: 18px;
      }
      span {
        font-size: 11px;
      }
    }
    .user-description {
      font-size: 12px;
    }
  }
  .title-about-container {
    .title-page {
      .crossed-out:after {
        transform: translateY(4px);
      }
    }
  }
}
