@import "scss/import-css.scss";
/*header begin ==================================>*/

header {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  box-shadow: 0 1px 2px 0 rgba(66, 67, 67, 0.26);
  transition: all .3s ease-out;
}

.index-header {
  height: 100vh;
  background: url("/img/header/home-img.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container-width {
  display: flex;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;

  .logo {
    height: 50px;
    overflow: hidden;

  }

  .logo, .email-header {
    a {
      cursor: pointer;
      transition: all .3s;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .email-header {
    height: 30px;
    overflow: hidden;
  }
}

nav {
  max-width: 485px;
  width: 100%;
  color: rgba(254, 254, 254, 0.3);

  .background-menu {

    &::-webkit-scrollbar-thumb {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #bbbbbb;
    }

    &::-webkit-scrollbar {
      width: 7px;
      border: 1px solid #303030;
      background: transparent;
    }

  }

  .toggle-menu{
    display: none;
    height: 20px;
    position: relative;
    z-index: 22;

    &:hover span{
      opacity: 1;
    }

    &.active{
      span{
        opacity: 1;
        background-color: transparent;
        &:before{
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:after{
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    span {
      display: inline-block;
      position: relative;
      top: -8px;
      width: 30px;
      height: 2px;
      background-color: #fff;
      opacity: 0.7;
      transition: opacity .3s;
      &:before,&:after{
        transition: transform .3s;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #fff;
      }
      &:before{
        top: 8px;
      }
      &:after{
        bottom: -16px;
      }
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    transition: all 0.5s ease-in;
    &.active a:after {
      content: '';
      background-color: #a2a2a2;
    }
  }

  .link {
    color: inherit;
    font-size: 18px;
    font-weight: 300;
    transition: all .3s ease-out;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
    &:hover{
      color: rgba(254, 254, 254, 1);
    }

    &:hover:after {
      background-color: rgb(188, 188, 188);
    }

    &.active{
      color: rgba(254, 254, 254, 1);
      &:after {
        background-color: rgb(188, 188, 188);
      }
    }

    &:after {
      content: '';
      display: block;
      background-color: transparent;
      height: 6px;
      border-radius: 5px 5px 0 0;
      transition: all .3s ease-out;
      transform: translateY(-6px);
      //margin-bottom: -4px;
    }
  }

}

.find-us,.change-lan-mobile{
  transition: all 0.5s ease-in;
  display: none;
}

.find-us{
  i{
    margin-bottom: 10px;
    display: inline-block;
  }
}

.change-lan-mobile {

  p {
    margin-bottom: 10px;
  }

  button{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #282828;
    background: rgba(248, 248, 248, 0.1);
    box-sizing: border-box;
    transition: all .3s ease-out;
  }
  .description-lan {
    width: 100px;
  }
}

.logo {
  text-align: center;
}

.index-title {
  text-transform: uppercase;
  max-width: 650px;
  margin: 50px auto 90px;
  position: relative;
  h1 {
    font-size: 3.129rem;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      background-image: url("/img/header/shadow-text.png");
      height: 9px;
      width: 100%;
      position: absolute;
      bottom: 12px;
      left: -10px;
    }
  }
  & > span {
    font-size: 1.714rem;
    font-weight: 300;
    vertical-align: super;
  }
}

.left-text,.right-text {
  position: absolute;
}

.left-text {
  left: -40px;
  top: -20px;
}

.right-text {
  right: -65px;
  bottom: -20px;
}

.container-nav {
  text-align: center;
  min-height: 140px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .continue {
    color: #4e4f4f;
    font-size: 1.714rem;
    font-weight: 300;
    transition: all .3s;
    animation: blink 2.5s linear infinite;
    cursor: default;
  }
  .continue-text {
    transition: all .3s;
    opacity: 0;
    display: inline-block;
    position: relative;
    &.active {
      opacity: 1;
      cursor: pointer;
      &:hover:after {
        background-color: #4e4f4f;
      }
    }
    &:after{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
      content: '';
      transition: all .3s;
      height: 1px;
      display: inline-block;
      background-color: transparent;
    }
  }

}

.animatedBlink {
  animation: blink 2.5s linear infinite;
}

.text,.text2 {
  opacity: 0;
}

.show-texts {
  animation: show-text 900ms ease-out forwards;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-about-container {
  background: url("/img/header/about-bg.jpg") no-repeat center;
}

.title-blog-container {
  background: url("/img/header/blog-bg.jpg") no-repeat center;
  .title-page {
    color: #fff;
  }
}

.title-about-container, .title-blog-container {
  background-size: cover;
  min-height: 350px;
  margin-top: 48px;
}

.title-page {
  max-width: 960px;
  margin: auto;
  padding-top: 72px;
  padding-left: 10px;
  h2 {
    text-transform: capitalize;
    font-size: 70px;
    font-family: 'Cuprum', sans-serif;
    span {
      font-size: inherit;
      font-weight: inherit;
      color:inherit;
    }
  }
  span {
    font-size: 24px;
    font-weight: 300;
  }

}

/*header end ==================================>*/

/*main begin ==================================>*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  //padding: 0 10px;
}

.home-page {
  margin-top: 80px;
}

.projects {

  justify-content: space-between;
  width: 48%;

  color: #797979;
  margin-bottom: 90px;

  img {
    box-shadow: 0.347px 1.97px 4px 0 rgba(66, 67, 67, 0.52);
  }

  h2 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;

  }

  p{
    font-style: italic;
  }

  p, a ,b{
    font-weight: 300;
  }

  a,b{
    font-size: 12px;
  }

  figcaption {
    margin: 25px auto 0;
    @extend .flex-container;

  }

  .right{
    text-align: right;
  }

  .small-btn{
    display: inline-block;
    &:first-child{
      margin-right: 10px;
    }
  }

  .left{
    width: 58%;
  }
  .right{
    width: 40%;
  }

}

.about-container {
  .container {
    max-width: 1160px;
    margin: auto;
    padding: 0 10px;
  }
}

.description-about {
  padding-top: 70px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 195px;
  h3 {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 50px;
    &:after {
      content: '';
      display: block;
      width: 100px;
      background-color: #797979;
      height: 1px;
      margin: 25px auto 0;
    }
  }
  span {
    display: inline-block;
  }
  .thin-font {
    font-weight: 100;
  }
  .light-font {
    font-weight: 300;
  }
  .medium-font {
    font-weight: 500;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
}

.interested {
  padding-bottom: 125px;
  color: #797979;
  font-weight: 300;
  font-size: 1.714rem;
  text-align: center;

  .linkContact {
    margin-left: 10px;
    color: #595959;
    text-decoration: underline;
  }
}

.user-container {
  text-align: center;
  padding-bottom: 75px;
}

.user-box {
  position: relative;
  max-width: 500px;
  margin-bottom: 130px;
  padding: 65px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0.347px 1.97px 5px 0 rgba(66, 67, 67, 0.24);
  background-color: #fff;

  .user-img {
    max-width: 135px;
    margin: -135px auto 25px;

    img {
      border-radius: 50%;
      box-shadow: 0.174px 0.985px 3px 0 rgba(66, 67, 67, 0.81);
    }
  }

  .user-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .user-title {
    margin-bottom: 50px;
    h2 {
      font-size: 1.714rem;
      font-weight: 500;
      margin-bottom: 10px;
    }
    span {
      font-weight: 300;
      font-size: 1rem;
    }
  }

  .user-description {
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 15px;
    &:after {
      content: '';
      display: block;
      background-color: #d7d7d7;
      height: 1px;
      max-width: 200px;
      margin: 35px auto 0;
    }
  }

  .user-social {
    a {
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50%;
      color: #f9f9f9;
      background-color: #999999;
      font-size: 1rem;
      text-align: center;
      margin: 0 12px;
      border: 1px solid transparent;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: all .3s ease-out;
      &:hover {
        background-color: #f9f9f9;
        color: #999999;
        border-color: #999999;
      }
    }
  }

}

.last-user-box {
  margin: auto;
}

.form-contact {
  @extend .flex-container;
  @extend .width-container;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .left {
    width: 40%;
    max-width: 300px;
  }

  .right {
    width: 60%;
  }

  .left {
    text-align: center;
    span {
      text-align: left;
      display: block;
    }
  }

  .mail-container, .phone-container {
    font-size: 24px;
    a {
      font-family: 'Cuprum', sans-serif;
      color: #fff;
      font-weight: 500;
    }
    span {
      font-size: 1.286rem;
      font-weight: 100;
      margin-bottom: 5px;
    }
  }

  .phone-container{
    p:nth-child(2){
      margin-bottom: 5px;
    }
  }

  .mail-us,.phone-us{
    @extend .flex-container;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }

  .img-container{
    margin-right: 15px;
  }

  .mail-us {
    margin-bottom: 115px;
  }

  .max-width-input {
    max-width: 400px;
  }

}

form {
  position: relative;
  border: 1px solid #959595;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
  padding: 45px;

  .envelope {
    position: absolute;
    top: -8px;
    right: 10px;
    z-index: 1;
  }

  .SVGInline-svg{
    width: 71px;
  }

  .input-field {
    margin-bottom: 50px;
  }
  input {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background-color: transparent;
    padding-bottom: 10px;
    width: 100%;
    outline: none;
  }

  .big-btn {
    margin: 0 auto 0;
  }
  button {
    border: transparent;
    z-index: 1;
    position: relative;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
  }

}

//.SVGInline-svg{
//  width: 32px;
//  fill:#fff;
//}

.have-nice-day {
  padding: 170px 0 60px;

  h3 {
    font-size: 53px;
    color: #fff;
    text-align: center;
    font-family: 'Fashion', sans-serif;
    font-weight: 400;
  }
}

.contact {
  background: url("/img/main/contact-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 50px;
  color: #fff;


  .title-page {
    text-align: center;
    padding-bottom: 130px;
    h2{
      span {

      }
    }

    span {
      font-weight: 100;
    }
  }

}

.blog-background {
  background-color: #f9f9f9;
}

.blog-container {
  padding: 60px 0 40px;
  .container {
    max-width: 1090px;
  }

  .item {
    overflow: hidden;
    &, .learn-more {
      color: #797979;
    }
    max-width: 505px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(66, 67, 67, 0.24);
    margin-bottom: 50px;

  }
  .blog-title {
    margin-top: 50px;
    margin-bottom: 35px;

    h2 {
      font-size: 1.714rem;
      margin-bottom: 10px;
      font-weight: 400;
    }
    span {
      font-weight: 300;
      font-style: italic;
      font-size: 1rem;
    }
  }

  .blog-description {
    max-width: 355px;
    margin: auto;
    p {
      font-weight: 300;
      font-size: 1rem;
      line-height: 18px;
    }
  }

  .learn-more {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin-bottom: 25px;

    &:before {
      content: '';
      max-width: 200px;
      width: 100%;
      display: block;
      margin: 30px auto 20px;
      height: 1px;
      background-color: #d7d7d7;
    }
  }

  .big-btn {
    margin: auto;
  }

}

/*main end ==================================>*/

/*feedback modal ==========================*/

.modal-open {
  .modal {
    overflow-x:hidden;
    overflow-y:hidden;
  }
}

.feedback-modal {

  .modal-dialog {
    max-width: 525px;
    margin: 50px auto 0;
    transition: transform 0.3s ease-out;
  }

  .head-modal {
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: inset 0 -1px 2px -2px rgba(0, 1, 0, 0.5);
  }

  .modal-content {
    background-color: rgb(247, 247, 247);
  }

  .close-modal {
    box-shadow: inset 1px 1px 3px -2px rgba(0, 1, 0, 0.5);
    margin-left: auto;
    margin-right: 0;
    background-color: #fff;
    width: 65px;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 10px 0 0;
    svg{
      width: 25px;
      fill: rgba(46, 46, 46, 0.8);
    }
  }

  .title-modal {
    font-weight: 500;
    margin-left: 20px;
    font-size: 18px;
    color: rgba(46, 46, 46, 0.80);
  }

  .icon-air {
    width: 65px;
    text-align: center;
    border-radius: 0;
    svg{
      fill: rgba(46, 46, 46, 0.8);
    }
  }

  .modal-body {
    position: static;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }

  form {
    border: none;
    padding: 30px;
  }
}

#feedback .envelope {
  display: none;
}

/*feedback modal ==========================*/

/*footer begin ==================================>*/
footer {
  background-color: #2c2c2c;
  font-size: 14px;
  p{
    color: rgba(255, 255, 255, 0.42);
  }
}

.footer-container {
  margin: auto;
  max-width: 1270px;
  min-height: 50px;
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .left, .right {
    flex: 1 1 auto;
  }

}

.social{

  .SVGInline-svg{
    width: 20px;
    fill: #282828;
  }

  a{
    &:first-child{
      margin-right: 5px;
    }
    width: 32px;
    height: 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: #282828;
    background: rgba(248, 248, 248, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s ease-out;
    &:hover {
      color: rgba(248, 248, 248, 0.1);
      border-color: rgba(248, 248, 248, 0.1);
      background-color: #282828;
    }
    &:hover .SVGInline-svg {
      fill: hsla(0,0%,97%,.1);
    }
  }
}
/*footer end ==================================>*/

.popupLan {
  position: fixed;
  background-color: rgba(44, 44, 44, 0.8);
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  p{
    &:first-child{
      margin-bottom: 10px;
    }
  }
  button{
    display: block;
    margin: 10px auto;
    &:hover{
      text-decoration: underline;
    }
  }
  &.active{
    display: block;
  }
  .button-lan {
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
  }
}

@import "scss/media.scss";