@import "scss/import-css.scss";

.logo-sd {
  width: 100%;
  max-width: 214px;
  fill: #f3f3f3;
  .logo-sd-1 {
    fill: #808080;
  }

  .logo-sd-2 {
    fill: none;
    stroke: #808080;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
  }
}


.index-header {
  @include flex(flex, nowrap, center, center, column);
  height: 100vh;
  background-color: #333333;
  color: #fff;
  text-align: center;

  .button-lan-container {
    margin-bottom: 20px;
  }

  .logo-container {
    margin: auto;
  }

  .logo {
    text-align: center;
    padding-bottom: 25px;
  }

  .continue {
    margin-bottom: 25px;
  }

  .animate-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 10px;
  }

  .wrapper-change-text {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
  }

  .fixed-text {
    font-family: $FashionFetishRegular;
    font-weight: 100;
    color: #c2c2c2;
  }

  .change-text {
    animation: animateList 7s forwards;
    font-family: $FashionFetishHeavy;
    text-align: center;
    font-weight: bold;
    list-style: none;
    font-size: 22px;
  }


  .continue-text {
    font-size: 18px;
    font-family: $RobotoLight;
  }
}

@keyframes animateList {

  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(-40px);
  }

  55% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-80px);
  }

}

header {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  box-shadow: 0 1px 2px 0 rgba(66, 67, 67, 0.26);
  transition: all .3s ease-out;

  .header-logo {
    @include flex(flex, wrap, center);
  }

  .header-logo-icon {
    width: 32px;
  }

  .name-logo {
    font-size: 14px;
    font-family: $FashionFetishHeavy;
    color: #d6d6d6;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.header-container-width {
  @include flex(flex, wrap, center);
  @include width-container(1290px);
  height: 50px;

  .logo {
    height: 50px;
    overflow: hidden;
  }

  .logo, .email-header {
    a {
      cursor: pointer;
      transition: all .3s;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .email-header {
    height: 30px;
    overflow: hidden;
  }
}

nav {
  max-width: 485px;
  width: 100%;

  .background-menu {

    &::-webkit-scrollbar-thumb {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: #bbbbbb;
    }

    &::-webkit-scrollbar {
      width: 7px;
      border: 1px solid #303030;
      background: transparent;
    }

  }

  .toggle-menu {
    display: none;
    position: relative;
    width: 32px;
    height: 24px;
    z-index: 22;

    &:hover {
      span {
        background-color: rgb(255, 255, 255);
      }
    }

    &.active {
      span {
        background-color: transparent;
        &:before {
          transform: translateY(9px) rotate(45deg);
        }
        &:after {
          transform: translateY(-12px) rotate(-47deg);
        }
        &:before, &:after {
          background-color: rgb(255, 255, 255);
        }
      }
    }
    span {
      @include transition();
      display: block;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.7);
      &:before, &:after {
        @include transition();
        transition: transform .3s;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: inherit;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
  }

  .menu-logo-icon {
    display: none;
  }

  .menu {
    margin: 0 auto;
    list-style: none;
    @include flex(flex, wrap, center, center)
  }

  .item-menu {
    margin: 0 auto;
    text-align: center;
    line-height: normal;
  }

  .link {
    @include transition();
    position: relative;
    font-family: $RobotoLight;
    color: rgba(243, 243, 243, 0.6);
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    width: 100%;
    z-index: 20;
    &.active {
      color: #f3f3f3;
      &:before {
        background-color: #fff;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:after {
        background-color: transparent;
        width: 100%;
        transition: 0s;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      display: block;
      height: 1px;
      background-color: #fff;
    }
    &:after {
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      content: "";
      position: absolute;
      bottom: 0;;
      left: 0;
      right: 0;
      width: 0;
      display: block;
      height: 1px;
      background-color: #fff;
    }
  }

}

.find-us {
  @include transition(all, .8s);
  display: none;
  i {
    margin-bottom: 10px;
    display: inline-block;
  }
  .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    text-align: center;
    margin-top: 18px;
  }
}

/*header end ==================================>*/

/*main begin ==================================>*/

.offset-section {
  margin-top: 50px;
}

.title-page {
  padding: 55px 0 65px;
  font-size: 24px;
  color: #303030;
  font-family: $RobotoLight;
  .crossed-out {
    font-family: $RobotoBold;
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    margin-right: 10px;

    &:after {
      content: ".";
     }
    //&:before {
    //  content: "";
    //  position: absolute;
    //  top: 50%;
    //  left: 0;
    //  right: 0;
    //  margin: auto;
    //  transform: translateY(-50%);
    //  display: block;
    //  height: 1px;
    //  background-color: #838383;
    //}
  }
}

.flex-container {
  @include flex();
}

.projects {
  width: 49%;
  color: #797979;
  margin-bottom: 45px;

  .item-img {
    @include transition();
    position: relative;
    filter: grayscale(100%);
    box-shadow: 0 1px 2px 0 rgba(66, 67, 67, 0.52);
    max-height: 285px;
    width: 100%;
    &:hover {
      filter: grayscale(0);
    }
  }

  figcaption {
    @include flex(flex, nowrap, center);
    margin: 0 auto 10px;

  }

  .small-btn {
    @include transition(all);
    @include flex(inline-flex, wrap, center, center);
    text-transform: lowercase;
    font-family: $RobotoLight;
    font-size: 12px;
    color: #383838;
    &:hover {
      color: #afafaf;
    }
    &:last-child {
      &:after{
        content: "";
        margin-left: 10px;
        height: 10px;
        width: 1px;
        background-color: #383838;
      }
    }
    &:first-child {
      margin-right: 10px;
      &:after{
        content: "";
        margin-left: 10px;
        height: 10px;
        width: 1px;
        background-color: #383838;
      }
    }
  }

  .title-project {
    text-transform: uppercase;
    font-family: $RobotoBold;
    font-size: 18px;
    color: #333333;
  }

}

.more-project {
  @include flex(flex, wrap, center, center);
  @include transition();
  display: block;
  width: 180px;
  height: 40px;
  margin: auto;
  text-transform: uppercase;
  font-size: 15px;
  font-family: $RobotoMedium;
  color: #fff;
  border: 1px solid #9b9b9b;
  background-color: #9b9b9b;
  &:hover {
    border-color: #24272c;
    background-color: #24272c;
  }
}

.bottom-main {
  background: url("/img/main/bg-main.jpg") no-repeat 0 -10px;
  background-size: cover;
  min-height: 520px;

  .form-container {
    @include width-container(670px);
    padding: 200px 10px 0;
  }
  .title-form {
    font-family: $RobotoBold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
  }
  .form {
    @include flex();
    padding-top: 60px;
    width: 100%;
    max-width: 550px;
    margin: auto;
  }
  .input-field {
    margin: 0;
    width: 30%;
  }
  .error-text {
    color: rgba(202, 28, 25, 0.99);
    font-size: 12px;
  }
}

.user-container {
  @include flex();
  padding-bottom: 75px;
}

.user-box {
  position: relative;
  width: 49%;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0.347px 1.97px 5px 0 rgba(66, 67, 67, 0.24);
  min-height: 300px;

  .user-head {
    @include flex(flex, wrap, center, flex-start);
    height: 90px;
    background: url("/img/user-bg.jpg") no-repeat right;
    margin-bottom: 15px;
  }

  .user-img {
    max-width: 140px;
    transform: translateY(-19px);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0.347px 1.97px 5px 0 rgba(66, 67, 67, 0.24);
    border-radius: 50%;
    overflow: hidden;

    img {
      border-radius: 50%;
      filter: grayscale(100%);
    }

  }

  .user-title {
    color: #ffffff;
    h2 {
      font-size: 24px;
      font-family: $RobotoMedium;
    }
    span {
      font-family: $RobotoLight;
      font-size: 14px;
    }
  }

  .user-body {
    padding: 0 12px;
    color: #ffffff;
  }

  .user-description {
    font-size: 14px;
    font-family: $RobotoLight;
    padding-bottom: 15px;
    line-height: 18px;
    min-height: 130px;
  }

  .social {
    text-align: center;
  }

}

.title-about-container,
.title-blog-container,
.title-contact-container{
  @include width-container(1230px);
}

.title-about-container {
  padding-bottom: 150px;
  .title-page {
    padding-bottom: 40px;
  }
  .description {
    font-size: 14px;
    font-family: $RobotoLight;
    color: #797979;
  }
}

.about-container {
  @include width-container(955px);
}

.title-blog-container {
  .title-page {
    padding-bottom: 50px;
  }
}

.blog-container {
  @include flex();

  .item {
    overflow: hidden;
    width: 49%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 0 rgba(66, 67, 67, 0.21);
    margin-bottom: 25px;
  }
  .blog-title {
    margin: 20px 0 14px;
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      font-family: $RobotoMedium;
    }
    span {
      font-size: 14px;
      font-family: $RobotoLight;
      font-style: italic;
      &:after {
        content: "";
        max-width: 200px;
        width: 100%;
        display: block;
        margin: 14px auto 0;
        height: 1px;
        background-color: #d7d7d7;
      }
    }
  }

  .blog-description {
    max-width: 370px;
    margin: 0 auto 35px;
    p {
      font-family: $RobotoLight;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .learn-more {
    @include transition(all);
    @include flex(flex,wrap,center,center);
    text-transform: lowercase;
    font-family: $RobotoLight;
    font-size: 12px;
    color: #383838;
    &:hover {
      color: #afafaf;
    }
    &:after{
      content: "";
      margin-left: 10px;
      height: 10px;
      width: 1px;
      background-color: #383838;
    }
    margin-bottom: 10px;
  }

}

.contact-block {
  @include flex(flex,wrap,center);
  @include width-container(1000px);
  padding: 0;

  .left-block {
    @include flex(flex,wrap,flex-start,center,column);
    padding-left: 50px;
    background: url("/img/main/contact-us-bg.jpg") no-repeat center;
    background-size: cover;
    min-height: 265px;
    width: 75%;
  }

  .right-block {
    width: 25%;
    background-color: #333333;
    align-self: stretch;
    @include flex(flex,wrap,center,center,column);
  }

  .findUsHere {
    font-size: 18px;
    font-style: italic;
    font-family: $RobotoLight;
    margin-bottom: 20px;
    color: #b7b2b2;
  }

  .mail-us,
  .phone-us {
    @include flex(flex,wrap,center,flex-start);
  }

  .mail-us {
    margin-bottom: 25px;
  }

  .icon-block {
    margin-right: 20px;
  }

  .letter,
  .phone-icon{
    width: 80px;
  }

  .faceBook-icon,
  .linked-icon{
    width: 60px;
    height: 60px;
  }

  .letter {
    .letter-2 {
      fill: #fff;
    }
  }

  .phone-icon {
    .phone-icon-fill-2 {
      fill: #fff;
    }
  }

  .title-block {
    font-size: 18px;
    color: #b7b2b2;
    font-family: $RobotoLight;
    margin-bottom: 5px;
  }

  .link-block ,.seperator{
    font-family: $RobotoMedium;
    font-size: 24px;
    color: #fff;
  }

  .seperator {
    display: inline-block;
    margin: 0 5px;
  }

}

/*main end ==================================>*/

/*form begin ==================================>*/

form {
  position: relative;
  z-index: 1;

  .input-field {
    margin-bottom: 50px;
  }

  input {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background-color: transparent;
    padding-bottom: 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: #595959;
    font-family: $RobotoLight;
  }

  label {
    font-size: 14px;
    color: #242424;
    font-family: $RobotoMedium;
  }

  .big-btn {
    margin: 40px auto 0;
  }

  button {
    @include flex(flex, wrap, center, center);
    @include transition();
    width: 240px;
    height: 40px;
    z-index: 1;
    margin: auto;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $RobotoMedium;
    border: 1px solid #333333;
    background-color: transparent;
    &:hover {
      background-color: #333333;
      color: #fff;
    }
    &:disabled {
      background-color: #ddd;
      border-color: #ddd;
      color: graytext;
    }
    &:disabled:hover {
      background-color: #ddd;
      border-color: #ddd;
      color: graytext;
      cursor: not-allowed;
    }
  }

}

/*form end ==================================>*/

/*feedback modal ==========================*/

.feedback-modal {

  .modal-dialog {
    max-width: 525px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .head-modal {
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: inset 0 -1px 2px -2px rgba(0, 1, 0, 0.5);
  }

  .modal-content {
    background-color: rgb(247, 247, 247);
  }

  .close-modal {
    box-shadow: inset 1px 1px 3px -2px rgba(0, 1, 0, 0.5);
    margin-left: auto;
    margin-right: 0;
    background-color: #fff;
    width: 65px;
    padding: 10px 0;
    text-align: center;
    svg {
      width: 25px;
      fill: rgba(46, 46, 46, 0.8);
    }
  }

  .title-modal {
    font-weight: 500;
    margin-left: 20px;
    font-size: 18px;
    color: rgba(46, 46, 46, 0.80);
  }

  .modal-body {
    position: static;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }

  form {
    border: none;
    padding: 30px;
  }
}
#feedback {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1080;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.active {
    display: block;
  }

}

/*feedback modal ==========================*/

/*preview-modal ==========================*/
.preview-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(44, 44, 44, 0.5);
  display: none;
  z-index: 1090;
  &.show {
    display: block;
  }

  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .head-modal {
    @include flex(flex,wrap,center,center);
    height: 50px;
    background-color: #303030;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 10px;
  }

  .title-modal {
    font-size: 24px;
    font-family: $RobotoMedium;
    color: #fff;
    text-align: center;
    flex-grow: 1;
  }

  .close-modal {
    @include flex(flex,wrap,center,center);
    border: 1px solid #fff;
    width: 120px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }

  .modal-body {
    padding-top: 50px;
    img {
      width: 100%;
    }
  }
}
/*preview-modal ==========================*/

/*footer ==================================>*/

footer {
  background-color: #2c2c2c;
  font-size: 14px;
  text-transform: uppercase;
  p {
    color: rgba(255, 255, 255, 0.42);
  }
}

.footer-container {
  margin: auto;
  max-width: 1270px;
  min-height: 50px;
  color: #fff;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .left, .right {
    flex: 1 1 auto;
  }

}

.social {
  a {
    @include flex(inline-flex, wrap, center, center);

    &:first-child {
      margin-right: 5px;
    }
  }
}

/*footer ==================================>*/

.button-lan-container {
  font-family: $RobotoMedium;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 230px;
  margin: 0 auto;
  .border {
    display: inline-block;
    margin: 0 10px;
    width: 2px;
    height: 16px;
    background-color: #737373;
  }
  .button-lan {
    font-size: 14px;
    color: #fff;
    font-family: $RobotoLight;
  }
  &.en {
    .english {
      color: #7d7d7d;
      font-family: $RobotoMedium;
    }
  }
  &.ua {
    .ukraine {
      color: #7d7d7d;
      font-family: $RobotoMedium;
    }
  }
}

@import "scss/media.scss";
