@font-face {
  font-family: "FashionFetishSmallCaps";
  src: url(/fonts/fashion_fetish/FashionFetishSmallCaps.ttf); }

@font-face {
  font-family: "FashionFetishRegular";
  src: url(/fonts/fashion_fetish/FashionFetishRegular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "FashionFetishBold";
  src: url(/fonts/fashion_fetish/FashionFetishBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: "FashionFetishLight";
  src: url(/fonts/fashion_fetish/FashionFetishLight.ttf);
  font-weight: 300; }

@font-face {
  font-family: "FashionFetishHeavy";
  src: url(/fonts/fashion_fetish/FashionFetishHeavy.ttf); }

@font-face {
  font-family: "Roboto-Light";
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "Roboto-Regular";
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: "Roboto-Bold";
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold; }
