@import "mixins.scss";

$FashionSmallCaps: "FashionFetishSmallCaps", sans-serif;
$FashionFetishRegular: "FashionFetishRegular", sans-serif;
$FashionFetishBold: "FashionFetishBold", sans-serif;
$FashionFetishLight: "FashionFetishLight", sans-serif;
$FashionFetishHeavy: "FashionFetishHeavy", sans-serif;
$RobotoRegular: "Roboto-Regular", sans-serif;
$RobotoLight: "Roboto-Light", sans-serif;
$RobotoMedium: "Roboto-Medium", sans-serif;
$RobotoBold: "Roboto-Bold", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $RobotoRegular;
}
body,html {
  &.active {
    height: 100%;
    overflow: hidden;
  }
}
img {
  max-width: 100%;
}

a, img, span, label {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

input, button, textarea {
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: $RobotoRegular;
  background: transparent;
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.width-container {
  max-width: 1230px;
  padding: 0 10px;
  margin: auto;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #bbbbbb;
  background: transparent;
}

.letter {
  width: 45px;

  .letter-1 {
    fill: rgba(243, 243, 243, 0.6);
    transition: all .3s ease-in;
  }

  &:hover {
    .letter-1 {
      fill: #fff;
    }
  }
}

.phone-icon {
  .phone-icon-fill-1 {
    fill: #979695;
  }

  .phone-icon-fill-2 {
    fill: #3b3c3b;
  }

  .phone-icon-fill-3 {
    fill: none;
    stroke: #979695;
    stroke-miterlimit: 10;
    stroke-width: 0.25px;
  }
}

.faceBook-icon {
  width: 40px;
  height: 40px;
  .faceBook-icon-1 {
    fill: #979695;
  }

  .faceBook-icon-2 {
    fill: #646464;
    @include transition()
  }
  &:hover {
    .faceBook-icon-2 {
      fill: #c7c7c7;
    }
  }
}

.linked-icon {
  width: 40px;
  height: 40px;
  .linked-icon-1 {
    fill: #979695;
  }
  .linked-icon-2 {
    fill: #646464;
    @include transition()
  }
  &:hover {
    .linked-icon-2 {
      fill: #c7c7c7;
    }
  }
}
