* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif; }

body.active, html.active {
  height: 100%;
  overflow: hidden; }

img {
  max-width: 100%; }

a, img, span, label {
  display: inline-block; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer; }

input, button, textarea {
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: "Roboto-Regular", sans-serif;
  background: transparent;
  outline: none; }

.wrapper {
  overflow: hidden; }

.width-container {
  max-width: 1230px;
  padding: 0 10px;
  margin: auto; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important; }

::-webkit-scrollbar-thumb {
  background: #303030; }

::-webkit-scrollbar-thumb {
  background: #303030; }

::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #bbbbbb;
  background: transparent; }

.letter {
  width: 45px; }
  .letter .letter-1 {
    fill: #3c3c3c;
    transition: all .3s ease-in; }
  .letter .letter-2 {
    fill: #646464; }
  .letter:hover .letter-1 {
    fill: #646464; }

.phone-icon .phone-icon-fill-1 {
  fill: #979695; }

.phone-icon .phone-icon-fill-2 {
  fill: #3b3c3b; }

.phone-icon .phone-icon-fill-3 {
  fill: none;
  stroke: #979695;
  stroke-miterlimit: 10;
  stroke-width: 0.25px; }

.faceBook-icon {
  width: 40px;
  height: 40px; }
  .faceBook-icon .faceBook-icon-1 {
    fill: #979695; }
  .faceBook-icon .faceBook-icon-2 {
    fill: #646464;
    transition: all 0.3s ease-in; }
  .faceBook-icon:hover .faceBook-icon-2 {
    fill: #c7c7c7; }

.linked-icon {
  width: 40px;
  height: 40px; }
  .linked-icon .linked-icon-1 {
    fill: #979695; }
  .linked-icon .linked-icon-2 {
    fill: #646464;
    transition: all 0.3s ease-in; }
  .linked-icon:hover .linked-icon-2 {
    fill: #c7c7c7; }
