$FashionSmallCaps: "FashionFetishSmallCaps", sans-serif;
$FashionFetishRegular: "FashionFetishRegular", sans-serif;
$FashionFetishBold: "FashionFetishBold", sans-serif;
$FashionFetishLight: "FashionFetishLight", sans-serif;
$FashionFetishHeavy: "FashionFetishHeavy", sans-serif;
$RobotoRegular: "Roboto-Regular", sans-serif;
$RobotoLight: "Roboto-Light", sans-serif;
$RobotoMedium: "Roboto-Medium", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $RobotoRegular;
  transition: all 0.3s ease-in-out;
}

body {
  .modal-backdrop {
    background-color: rgba(48, 48, 48, 0.8);
    &.fade {
      opacity: 1;
    }
  }
}

img {
  max-width: 100%;
}

a, img, span, label {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

input, button, textarea {
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.width-container {
  max-width: 1230px;
  padding: 0 10px;
  margin: auto;
}

@mixin transition($type : all, $time : .3s, $nameAnimation : ease-in) {
  transition: $type $time $nameAnimation;
}

@mixin width-container($maxWidth : 1230px,$margin : auto,$padding : 0 10px, $width : 100%) {
  max-width: $maxWidth;
  margin: $margin;
  padding: $padding;
  width: $width;
}

@mixin flex($flex : flex, $wrap : wrap, $center : flex-start , $between : space-between, $direction : row) {
  display: $flex;
  flex-wrap: $wrap;
  align-items: $center;
  justify-content: $between;
  flex-direction: $direction;
  @include transition(width)
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #bbbbbb;
  background: transparent;
}

.big-btn, .small-btn {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(56, 56, 56, .4);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .more-projects_link, .projects_button {
    display: block;
    color: rgba(56, 56, 56, .7);
    transition: color 0.3s ease-in-out;
    position: relative;

  }

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #383838;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:active {
    background-color: #383838;
  }
  &:hover {
    .more-projects_link, .projects_button {
      color: #fff;
      border-color: rgba(56, 56, 56, .4);
    }
    span {
      width: 225%;
      height: 562.5px;
    }
  }

}

.big-btn {
  height: 50px;
  line-height: 50px;
  width: 200px;
  margin: 0 auto 170px;
  border-radius: 10px;
}

.small-btn {
  margin: auto;
  border-radius: 5px;

  a {
    font-size: 10px;
    padding: 8px;
  }

  &:active {
    background-color: #383838;
  }
  &:hover {
    border-color: #383838;
    .more-projects_link, .projects_button {
      color: #fff;
      font-size: 0;
    }
    span {
      width: 225%;
      height: 562.5px;
    }
  }

}

.letter {
  width: 45px;
  &:hover {
    .letter-1 {
      fill: #646464;
    }
  }
  .letter-1 {
    fill: #3c3c3c;
    transition: all .3s ease-in;
  }
  .letter-2 {
    fill: #646464;
  }
}