* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%; }

a, img, span, label {
  display: inline-block; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer; }

input, button, textarea {
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: "Roboto", sans-serif; }

.wrapper {
  overflow: hidden; }

.width-container {
  max-width: 1230px;
  padding: 0 10px;
  margin: auto; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important; }

::-webkit-scrollbar-thumb {
  background: #303030; }

::-webkit-scrollbar-thumb {
  background: #303030; }

::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #bbbbbb;
  background: transparent; }

.letter {
  width: 45px; }
  .letter:hover .letter-1 {
    fill: #646464; }
  .letter .letter-1 {
    fill: #3c3c3c;
    transition: all .3s ease-in; }
  .letter .letter-2 {
    fill: #646464; }
