$FashionSmallCaps: "FashionFetishSmallCaps", sans-serif;
$FashionFetishRegular: "FashionFetishRegular", sans-serif;
$FashionFetishBold: "FashionFetishBold", sans-serif;
$FashionFetishLight: "FashionFetishLight", sans-serif;
$FashionFetishHeavy: "FashionFetishHeavy", sans-serif;
$RobotoRegular: "Roboto-Regular", sans-serif;
$RobotoLight: "Roboto-Light", sans-serif;
$RobotoMedium: "Roboto-Medium", sans-serif;
$RobotoBold: "Roboto-Bold", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $RobotoRegular;
  transition: all 0.3s ease-in-out;
}

body {

}

img {
  max-width: 100%;
}

a, img, span, label {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

input, button, textarea {
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.width-container {
  max-width: 1230px;
  padding: 0 10px;
  margin: auto;
}

@mixin transition($type : all, $time : .3s, $nameAnimation : ease-in) {
  transition: $type $time $nameAnimation;
}

@mixin width-container($maxWidth : 1230px,$margin : auto,$padding : 0 10px, $width : 100%) {
  max-width: $maxWidth;
  margin: $margin;
  padding: $padding;
  width: $width;
}

@mixin flex($flex : flex, $wrap : wrap, $center : flex-start , $between : space-between, $direction : row) {
  display: $flex;
  flex-wrap: $wrap;
  align-items: $center;
  justify-content: $between;
  flex-direction: $direction;
  @include transition(width)
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

::-webkit-scrollbar {
  width: 7px;
  border: 1px solid #bbbbbb;
  background: transparent;
}

.letter {
  width: 45px;
  &:hover {
    .letter-1 {
      fill: #646464;
    }
  }
  .letter-1 {
    fill: #3c3c3c;
    transition: all .3s ease-in;
  }
  .letter-2 {
    fill: #646464;
  }
}