@import "mixins.scss";

@media all and (min-width: 1367px) {
  .bottom-main {
    background-size: cover;
    min-height: 720px;
    .form-container {
      max-width: 760px;
      .title-form {
        font-size: 40px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .bottom-main {
    .form-container {
      max-width: 430px;
      margin-left: 350px;
    }
    .form {
      @include flex(flex, wrap, flex-start, space-between, row);
    }
    .title-form {
      text-align: left;
    }
    .input-field {
      width: 48%;
      margin-bottom: 40px;
    }
    .big-btn {
      width: 48%;
      margin: 0;
      button {
        width: 170px;
      }
    }
  }
}

@media all and (max-width: 1080px) {
  .portfolio {
    .title-page {
      text-align: center;
      padding: 40px 0;
    }
    figcaption {
      align-items: stretch;
      min-height: 50px;
      background-color: #3f3f3f;
    }
    .left {
      @include flex(flex, wrap, center, center, column);
      height: auto;
      background-color: #3f3f3f;
      max-width: 100%;
    }
    .title-project {
      padding-right: 0;
    }
    .right {
      @include flex(flex, nowrap, center, center);
      background-color: #333333;
      padding: 0 10px;
      max-width: 100%;
    }
    .small-btn {
      color: #fff;
      border: 1px solid #fff;
    }
  }
  .user-container {
    @include flex(flex,wrap,center,center,column);
    .user-box {
      margin-bottom: 130px;
    }
  }
  footer {
    display: none;
  }
}

@media all and (max-width: 768px) {

  header {
    .header-logo-icon {
      display: none;
    }
  }

  .header-container-width {

    .header-logo {
      order: 2;
    }

    .email-header {
      order: 3;
    }

    .toggle-menu {
      display: block;
    }

  }

  nav {
    order: 1;
    max-width: 32px;

    .background-menu {
      @include transition();
      background-color: #303030;
      transform: translateX(-100%);
      position: absolute;
      max-width: 230px;
      right: 0;
      left: 0;
      top: 50px;
      height: 100vh;
      overflow-y: auto;

      &.active {
        transform: translateX(0);
        .item-menu {
          transform: translate(0, 0);
        }
        .find-us, .change-lan-mobile {
          transform: translate(0, 0);
        }
      }
    }

    .scroll-menu {
      @include flex(flex, wrap, center, flex-start, column);
      height: 100vh;
      min-height: 580px;
      padding-bottom: 50px;
    }

    .menu-logo-icon {
      margin-top: 50px;
      display: block;
      max-width: 120px;
      fill: rgba(255, 255, 255, 0.8);
    }

    .menu {
      margin-top: 50px;
      flex-direction: column;
    }

    .item-menu {
      margin-bottom: 15px;
      flex-basis: auto;
      transform: translate(-100px, 0);

      &:nth-child(1) {
        @include transition(all, .1s);
      }
      &:nth-child(2) {
        @include transition(all, .3s);
      }
      &:nth-child(3) {
        @include transition(all, .5s);
      }
      &:nth-child(4) {
        @include transition(all, .7s);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .link {
      font-size: 22px;
    }
  }

  .find-us {
    margin-top: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    transform: translate(-300px, 0);
  }

  .contentMobileAnimate {
    @include transition(transform);
    transform: translate(0, 0);
    &.active {
      transform: translate(230px, 0);
    }
  }

  .portfolio {
    .flex-container {
      @include flex(flex, wrap, center, center, column);
    }
    .projects {
      width: 100%;
      max-width: 585px;
    }
  }

  .bottom-main {
    background-position: -145px -25px;
    .form-container {
      margin-left: 280px;
      margin-bottom: 45px;
    }
    .input-field, .big-btn {
      width: 100%;
    }
  }

}

@media all and (max-width: 680px) {
  .portfolio {
    .title-page {
      font-size: 16px;
      strong {
        width: 60px;
      }
    }
  }
  .bottom-main {
    background: none;
    .title-form {
      font-size: 24px;
    }
    .form-container {
      padding-top: 60px;
      margin: auto;
      max-width: 550px;
    }
  }
}

@media all and (max-width: 480px) {
  .index-header {
    .title-logo {
      padding-top: 5px;
      font-size: 14px;
    }
    .animate-text {
      font-size: 12px;
      padding: 0;
    }
    .continue-text {
      font-size: 12px;
    }
    .button-lan-container {
      font-size: 14px;
    }
  }
  .user-box {
    .user-head {
      height: 55px;
    }
    .user-img {
      max-width: 100px;
    }
    .user-title {
      h2{
        font-size: 18px;
      }
      span {
        font-size: 11px;
      }
    }
    .user-description {
      font-size: 12px;
    }
  }
}
