@media all and (min-width: 1367px) {
  .bottom-main {
    background-size: cover;
    min-height: 720px; }
  .form-container {
    max-width: 760px; }
    .form-container .title-form {
      font-size: 40px; } }

@media all and (max-width: 1200px) {
  .bottom-main .form-container {
    max-width: 430px;
    margin-left: 350px; }
  .bottom-main .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    transition: width 0.3s ease-in; }
  .bottom-main .title-form {
    text-align: left; }
  .bottom-main .input-field {
    width: 48%;
    margin-bottom: 40px; }
  .bottom-main .big-btn {
    width: 48%;
    margin: 0; }
    .bottom-main .big-btn button {
      width: 170px; } }

@media all and (max-width: 1080px) {
  .portfolio .title-page {
    text-align: center;
    padding: 40px 0; }
  .portfolio figcaption {
    align-items: stretch;
    min-height: 50px;
    background-color: #3f3f3f; }
  .portfolio .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease-in;
    height: auto;
    background-color: #3f3f3f;
    max-width: 100%; }
  .portfolio .title-project {
    padding-right: 0; }
  .portfolio .right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: width 0.3s ease-in;
    background-color: #333333;
    padding: 0 10px;
    max-width: 100%; }
  .portfolio .small-btn {
    color: #fff;
    border: 1px solid #fff; }
  footer {
    display: none; } }

@media all and (max-width: 768px) {
  header .header-logo-icon {
    display: none; }
  .header-container-width .header-logo {
    order: 2; }
  .header-container-width .email-header {
    order: 3; }
  .header-container-width .toggle-menu {
    display: block; }
  nav {
    order: 1;
    max-width: 32px; }
    nav .background-menu {
      transition: all 0.3s ease-in;
      background-color: #303030;
      transform: translateX(-100%);
      position: absolute;
      max-width: 230px;
      right: 0;
      left: 0;
      top: 50px;
      height: 100vh;
      overflow-y: auto; }
      nav .background-menu.active {
        transform: translateX(0); }
        nav .background-menu.active .item-menu {
          transform: translate(0, 0); }
        nav .background-menu.active .find-us, nav .background-menu.active .change-lan-mobile {
          transform: translate(0, 0); }
    nav .scroll-menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      transition: width 0.3s ease-in;
      height: 100vh;
      min-height: 580px;
      padding-bottom: 50px; }
    nav .menu-logo-icon {
      margin-top: 50px;
      display: block;
      max-width: 120px;
      fill: rgba(255, 255, 255, 0.8); }
    nav .menu {
      margin-top: 50px;
      flex-direction: column; }
    nav .item-menu {
      margin-bottom: 15px;
      flex-basis: auto;
      transform: translate(-100px, 0); }
      nav .item-menu:nth-child(1) {
        transition: all 0.1s ease-in; }
      nav .item-menu:nth-child(2) {
        transition: all 0.3s ease-in; }
      nav .item-menu:nth-child(3) {
        transition: all 0.5s ease-in; }
      nav .item-menu:nth-child(4) {
        transition: all 0.7s ease-in; }
      nav .item-menu:last-child {
        margin-bottom: 0; }
    nav .link {
      font-size: 22px; }
  .find-us {
    margin-top: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    transform: translate(-300px, 0); }
  .contentMobileAnimate {
    transition: transform 0.3s ease-in;
    transform: translate(0, 0); }
    .contentMobileAnimate.active {
      transform: translate(230px, 0); }
  .portfolio .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease-in; }
  .portfolio .projects {
    width: 100%;
    max-width: 585px; }
  .bottom-main {
    background-position: -145px -25px; }
    .bottom-main .form-container {
      margin-left: 280px;
      margin-bottom: 45px; }
    .bottom-main .input-field, .bottom-main .big-btn {
      width: 100%; } }

@media all and (max-width: 680px) {
  .portfolio .title-page {
    font-size: 16px; }
    .portfolio .title-page strong {
      width: 60px; }
  .bottom-main {
    background: none; }
    .bottom-main .title-form {
      font-size: 24px; }
    .bottom-main .form-container {
      padding-top: 60px;
      margin: auto;
      max-width: 550px; } }

@media all and (max-width: 480px) {
  .index-header .title-logo {
    padding-top: 5px;
    font-size: 14px; }
  .index-header .animate-text {
    font-size: 12px;
    padding: 0; }
  .index-header .continue-text {
    font-size: 12px; }
  .index-header .button-lan-container {
    font-size: 14px; } }
