#popupMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  transition: 0.3s;
  z-index: 1020; }
  #popupMessage.active {
    opacity: 1;
    visibility: visible; }
